**/.git
**/.svn
**/.hg
**/node_modules
*.log
*.png
*.jpg
*.ico
*.xml
apps/hugo-tailwild/assets/css/style.css
**/public
**/resources
**/.hugo*
*.toml
**/.turbo
pnpm-lock.yaml
**/dist
apps/mkdocs/docs/extra/index.js
apps/mkdocs/docs/extra/index.css
apps/hugo
