.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
  background: linear-gradient(65deg, #31332d 4%, #d3d6cf 4%, #d3d6cf 6%, #f7f5fb 6%, #f2f5f5 94%, #ff6363 94%, #ff6363 96%, #27ae35 96%);
}

.footer p {
  font-size: $font-size-sm;
}

@include media-breakpoint-up(md) {
  .footer p {
    font-size: $font-size-base;
  }
}
