.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
  background: linear-gradient(65deg, #31332de6 4%, #d3d6cfe6 4%, #d3d6cfcc 6%, #f7f5fbcc 6%, #f2f5f5cc 94%, #ff6363cc 94%, #ff6363cc 96%, #27ae35cc 96%), linear-gradient(65deg, #d3d6cf 0%, #f7f5fb 100%);
}

.footer p {
  font-size: $font-size-sm;
}

@include media-breakpoint-up(md) {
  .footer p {
    font-size: $font-size-base;
  }
}
