<!-- prettier-ignore -->
<meta name="theme-color" content="{{ $.Site.Params.themeColor }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "180.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "16.png" | absURL }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ "64.png" | absURL }}">
<link rel="icon" type="image/png" sizes="128x128" href="{{ "128.png" | absURL
}}"> <link rel="icon" type="image/png" sizes="256x256" href="{{ "256.png" |
absURL }}"> <link rel="icon" type="image/png" sizes="512x512" href="{{ "512.png"
| absURL }}"> <link rel="icon" type="image/png" sizes="1024x1024" href="{{
"1024.png" | absURL }}"> <link rel="manifest" crossorigin="use-credentials"
href="/manifest.json">
