{{ define "main" }}
<section class="flex min-h-screen w-auto flex-auto">
  <div class="container mx-auto px-6 py-12 lg:flex lg:items-center lg:gap-12">
    <div class="wf-ull lg:w-1/2">
      <p class="text-sm font-medium text-blue-500 dark:text-blue-400">
        404 error
      </p>
      <h1
        class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl"
      >
        404 - ページが見つかりません :(
      </h1>
      <p class="mt-4 text-gray-500 dark:text-gray-400">
        The page you are looking for doesn't exist or has been moved.
      </p>
      <p class="mt-4 text-gray-500 dark:text-gray-400">
        探しているページが存在しないか、移動されました。
      </p>
    </div>

    <div class="mt-8 w-full lg:mt-0 lg:w-1/2">
      <iframe
        src="https://discord.com/widget?id=930083398691733565&theme=dark"
        allowtransparency="true"
        frameborder="0"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
        class="w-full object-cover"
        style="min-height: 40rem"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</section>
{{ end }}
