{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-12 pb-5 text-center">
    <h1><b>{{ .Title }}</b></h1>
    <p>{{ .Params.Lead | safeHTML }}</p>
    {{ $movie := resources.GetRemote "https://cdn.discordapp.com/attachments/934470551194447932/965925659513880596/kamepaworld2_2.mp4" }}
    <video src="{{ $movie.RelPermalink }}" class="img-fluid lazyload blur-up" autoplay muted controls></video>
    <br>
    <a class="btn btn-dark px-3" href="{{ "dev/web/" | absURL }}" role="button">Webサイトの作り方</a>
    <a class="btn btn-outline-dark px-3" href="{{ "org/profile-outline/" | absURL }}" role="button">組織について</a>
  </div>
</div>
{{ end }}

{{ define "section" }}
<section class="section container-fluid">
  {{- .Content -}}
</section>
{{ end }}
