name: "Hugo build and deployment"

on:
  workflow_dispatch:
  push:
    branches:
      - gh-pages # Set a branch to deploy

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Check out Hyas project
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm ci

      - name: Build production website
        run: npm run build

      - name: Archive build output
        run: tar --dereference --hard-dereference --directory public/ -cvf artifact.tar .
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: github-pages
          path: ./artifact.tar
          if-no-files-found: warn

  deploy:
    needs: build
    permissions:
      contents: "read"
      pages: "write"
      id-token: "write"
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/deploy-pages@v1
        id: deployment
        name: Deploy to GitHub Pages
