name: "Site-build-and-deployment"

permissions:
  contents: read
  pages: write
  deployments: write
  id-token: write

on:
  workflow_dispatch:
  push:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BRANCH_TO_DEPLOY: "develop"

jobs:
  build:
    runs-on: ubuntu-20.04
    environment:
      name: production

    steps:
      - name: Check out project
        uses: actions/checkout@v3

      - name: Set up Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - uses: actions/setup-python@v3
        with:
          python-version: 3.x

      - name: Enable corepack
        run: corepack enable pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Install mdbook
        run: |
          mkdir mdbook
          curl -sSL https://github.com/rust-lang/mdBook/releases/download/v0.4.20/mdbook-v0.4.20-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook
          echo `pwd`/mdbook >> $GITHUB_PATH

      - name: Build hugo website
        run: cd ./path/root/hugo && pnpm run build

      - name: Build mkdocs website
        run: cd ./path/docs/mkdocs && mkdocs build --site-dir ../../../public/docs

      - name: Build mdbook website
        run: cd ./path/note/mdbook && mdbook build --dest-dir ../../../public/note

      - name: minify
        id: minify
        run: pnpm minify

      - name: Brotli compress the html, css and js files
        id: brotli
        uses: KamePowerWorld/brotli-action@master
        with:
          target-directory: "public"

      - name: Archive build output
        run: tar --dereference --hard-dereference --directory public/ -cvf artifact.tar .

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: github-pages
          path: ./artifact.tar
          if-no-files-found: warn

  deploy:
    needs: build
    permissions:
      contents: "read"
      pages: "write"
      id-token: "write"
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/deploy-pages@v1
        id: deployment
        name: Deploy to GitHub Pages
